<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>Mailgun board</h2>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>All</th>
                <th>Send</th>
                <th>Sended</th>
                <th>Bounce</th>
                <th>Fail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${allCount}">20000</td>
                <td th:text="${sendCount}">20000</td>
                <td th:text="${sendedCount}">20000</td>
                <td th:text="${bounceCount}">20000</td>
                <td th:text="${failCount}">20000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

<hr class="my-4">

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>메일 전송</h2>
    </div>
    <form action="list.html" th:action="@{/send}" th:object="${form}" method="post">
        <div>
            <div>Target 종류</div>
            <div th:each="type : ${targetTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{targetType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('targetType')}" th:text="${type.description}" class="form-check-label">
                    발송 예정
                </label>
            </div>
        </div>
        <div>
            <label for="apiUrl">API URL</label>
            <input type="text" th:field="*{apiUrl}" class="form-control" placeholder="api url을 입력하세요.">
        </div>
        <div>
            <label for="apiKey">API KEY</label>
            <input type="text" th:field="*{apiKey}" class="form-control" placeholder="api Key을 입력하세요">
        </div>
        <div>
            <label for="templateName">Template Name</label>
            <input type="text" th:field="*{templateName}" class="form-control" placeholder="templateName을 입력하세요.">
        </div>
        <div>
            <label for="maxCount">Max Count</label>
            <input type="text" th:field="*{maxCount}" class="form-control" placeholder="maxCount을 입력하세요">
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col" th:if="${threadActiveCount == 0}">
                <button class="w-100 btn btn-primary btn-lg" type="submit">확인</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
<hr class="my-4">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>CSV to CSV 변환(한글 제외 필터 적용)</h2>
    </div>
    <form action="list.html" th:action="@{/csv-file-filter-download}" enctype="multipart/form-data" method="post">
        <div>
            <label for="file">Select a CSV file</label>
            <input type="file" name="file" class="form-control" id="file" accept=".csv">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col" th:if="${threadActiveCount == 0}">
                <button class="w-100 btn btn-primary btn-lg" type="submit">확인</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->


<hr class="my-4">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>데이터 등록</h2>
    </div>
    <form action="list.html" th:action="@{/upload-csv-file}" enctype="multipart/form-data" method="post">
        <div>
            <div>데이터 종류</div>
            <input type="radio" id="create" name="dataType" value="create" class="form-check-input">
            <label for="create"  class="form-check-label">
                고객 등록
            </label>
            <input type="radio" id="bounce" name="dataType" value="bounce" class="form-check-input">
            <label for="bounce"  class="form-check-label">
                Bounce 등록
            </label>
        </div>
        <div>
            <label for="file">Select a CSV file</label>
            <input type="file" name="file" class="form-control" id="file" accept=".csv">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col" th:if="${threadActiveCount == 0}">
                <button class="w-100 btn btn-primary btn-lg" type="submit">확인</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->

<hr class="my-4">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>Bounce List 추출</h2>
    </div>
    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'Bounce List 추출 성공'"></h2>
    <form action="list.html" th:action="@{/create-bounce-list}" th:object="${form}" method="get">
        <div>
            <label for="apiUrl">API URL</label>
            <input type="text" th:field="*{apiUrl}" class="form-control" placeholder="api url을 입력하세요.">
        </div>
        <div>
            <label for="apiKey">API KEY</label>
            <input type="text" th:field="*{apiKey}" class="form-control" placeholder="api Key을 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">확인</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->

</body>
</html>